.addcategory-container{
    display: flex;
    justify-content: center;
    margin: 2em;
    
}
.category-title{
    font-family: "Lato light", sans-serif;
    font-size: 26px;
    font-weight: 70;
}

.categorylabel-container{
    display: flex;
    flex-flow: column wrap;
    gap: 6px;
    background-color: var(--color-form-control);
    border-radius: var(--border-radius-corner);
    padding: 6px;
    
}
.categorylabel-container.first,
.categorylabel-container.second{
    margin: 1em
}
.category-label{
    font-family: "ABeeZee regular", cursive;
    font-weight: 200;
    font-size: var(--font-size-label);
    margin-bottom: 0px;
}
.category-input{
    /* font-size: var(--font-size-input-text); */
    font-family: "Lato regular", sans-serif;
    font-weight: 100;
    border: none;
    background-color: var(--color-form-control);
    color: var(--color-white);
    outline: none;
    padding: 0px;
}

/* Förhandsgranskning av Kategori bild */

.image-preview{
    width: 15em;
}

.category-image-container{
    display: flex;
    justify-content: center;
}
.category-content{
    display: flex;
    flex-direction: column;
}