/* Add category */
.add-category__section {
    display: grid;
    height: calc(100dvh - 60px);
    width: 100%;
    padding: 0px var(--spacing-standard);
    grid-template-rows: 104px 148px calc(200px + var(--spacing-standard));
}

.add-category-image__preview {
    width: 200px;
    height: 200px;
    border-radius: var(--border-radius-standard);
}

.add-category-image__container {
    margin-top: var(--spacing-standard);
    display: flex;
    justify-content: center;
}
