.add-category__section {
    display: flex;
    flex-flow: column wrap;
    height: calc(100dvh - 60px);
    width: 100%;
    padding: 0px var(--spacing-standard);
}

/* Förhandsgranskning av Kategori bild */

.image-preview{
    width: 15em;
}

.category-image__container {
    display: flex;
    justify-content: center;
}
.category-content{
    display: flex;
    flex-direction: column;
}