/* Add category */
.add-category__section {
    display: flex;
    flex-flow: column wrap;
    height: calc(100dvh - 60px);
    width: 100%;
    padding: 0px var(--spacing-standard);
}
.add-category-image__preview {
    width: 15em;
}

.add-category-image__container {
    display: flex;
    justify-content: center;
}
