/* Add category */
.add-category__section {
    display: grid;
    height: calc(100dvh - 60px);
    width: 100%;
    padding: 0px var(--spacing-standard);
    grid-template-rows: 1fr 1fr 1fr 1fr 200px;
}

.add-category-image__preview {
    width: 200px;
    height: 200px;
    margin-top: var(--spacing-standard);
}

.add-category-image__container {
    display: flex;
    justify-content: center;
}
