/* Add object */
.add-object__section {
    display: flex;
    flex-flow: column wrap;
    height: calc(100% - 60px);
    width: 100%;
    padding: 0px var(--spacing-standard);
    overflow-x: hidden;
}

.add-object__text-container {
    margin: var(--spacing--titles) 0px;
    text-align: center;
    display: grid;
    gap: var(--spacing-smallest)
}

.add-object__title, .add-object__info {
    font-family: "Lato light", sans-serif;
    font-weight: 70;
}

.add-object__title {
    font-size: var(--font-size-title);
}

.add-object__info {
    font-size: var(--font-size-standard);
}

.add-object__text-container .standard__subtitle {
    margin-top: 0px;
}

.form-input-with-label-guideline__container {
    display: flex;
    flex-flow: column wrap;
    gap: var(--spacing-smallest);
}

.add-object__guideline {
    font-family: "Lato light", sans-serif;
    font-size: var(--font-size-guideline);
    font-weight: 70;
}

.add-object-image__preview {
    width: inherit;
    height: 105.5px;
    border-radius: var(--border-radius-standard);
    display: block;
}

.add-object-image__container {
    margin-top: var(--spacing-standard);
    display: grid;
    gap: var(--spacing-standard);
    grid-template-columns: repeat(3, 112px);
}

.add-object-image-text__container {
    display: flex;
    flex-flow: column wrap;
    gap: var(--spacing-smaller);
}

.add-object-image-text__container:last-child {
    justify-self: flex-start;
}

.add-object-image-text__container {
    font-family: "Lato light", sans-serif;
    font-size: var(--font-size-object-text);
    font-weight: 70;
    text-align: center;
    width: 105.5px;
}

@media screen and (min-width: 320px) and (max-width: 419px) {
    .add-object-image-text__container {
        width: 24vw;
    }

    .add-object-image__container {
        gap: var(--spacing-standard);
        grid-template-columns: repeat(3, 24vw);
    }
}