/* Auth */
.auth__splashscreen {
  height: calc(100dvh - 60px);
  width: 100%;
  background-image: url("../images/dots_background.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
}

.auth__section {
  padding: 0px 21px;
}

/* Info box */
.information__box {
  padding: 15px;
  background-color: var(--color-background);
  border-radius: var(--border-radius-corner);
  margin-bottom: var(--spacing-standard);
}

.information__box p {
  font-family: "Lato light", sans-serif;
  font-weight: 100;
}


