/* Delete account */
.delete-account__section {
    width: 100%;
    color: var(--color-white);
    height: calc(100dvh - 96px);
    padding: 0px var(--spacing-standard);
}
  
.delete-account-info__text {
    font-family: "Lato light", sans-serif;
    font-size: var(--font-size-standard);
}
  
.delete-account-info__title {
    font-family: "Lato regular", sans-serif;
    font-size: var(--font-size-standard);
    font-weight: 100;
}
  
.delete-account-center__box {
    padding: var(--spacing-medium) 0px;
    display: grid;
    justify-content: center;
    gap: 17px;
}
  

/* Standard list stuff */
.standard__list > .standard__list-element {
    font-family: "Lato regular", sans-serif;
    font-size: var(--font-size-standard);
}
  
/* Bold span */
  
.bold__span {
    font-weight: bold;
}

/* Big icon */
.big__icon {
    font-size: 48px;
    color: var(--color-white);
}