.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 3em;
  background-color: var(--color-header);
}

.header-content {
  display: flex;
  align-items: center;
}

.header-font {
  font-family: "Pacifico", cursive;
  color: white;
  font-size: 20px;
  font-weight: 100 !important;
  margin: 0em 3em 0em 4em;
}

.material-symbols-outlined.custom-icon,
.material-symbols-outlined.backbtn,
.material-symbols-outlined.logout {
  font-size: 2em;
  border-radius: 10px;
  margin: 0;
}

.material-symbols-outlined.backbtn {
  margin-right: auto; 
}



@media screen and (max-width: 390px) {
  .header-font {
    font-size: 14px;
  }

  .material-symbols-outlined.custom-icon,
  .material-symbols-outlined.backbtn,
  .material-symbols-outlined.logout {
    font-size: 1.5em;
    padding: 0.3em;
  }
}
