/* Container */
.show-object-wrapper {
  display: grid;
  grid-template-rows: 122px 240px 1fr;
  gap: var(--spacing-small);
  margin: 0em 1.5em;
  height: calc(100% - 60px);
}

/* Titel, författare och pris */
.object-title-p {
  text-align: left;
  padding: 0px var(--spacing-small);
  margin-bottom: 1em;
}
.standard__text.title {
  margin: 1em 0em;
  font-family: "Lato light", sans-serif;
  font-size: var(--font-size-title);
  font-weight: 70;
}

/* Bilderna */
.object-all-images {
  width: 100vw;
  display: grid;
  grid-template-areas: 
  "big__image small__image"
  "big__image small__image2";
  grid-template-columns: 270px 100px;
  height: 240px;
  justify-content: center;
  gap: var(--spacing-smaller);
}

.big__image-container {
  grid-area: big__image;
  width: calc(270px - var(--spacing-smaller));
  height: 15em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  border-radius: var(--border-radius-corner);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.arrow {
  width: 24px;
}

.small-img {
  width: calc(100px - var(--spacing-smaller));
  border-radius: var(--border-radius-corner);
  height: calc(7.5em - var(--spacing-smaller));
  grid-area: small__image;
  object-fit: cover;
}

.small-img:last-child {
  grid-area: small__image2;
}

@media screen and (min-width: 320px) and (max-width: 350px) {
  .object-all-images {
    grid-template-columns: 70vw 30vw;
  }

  .big__image-container {
    width: 70vw;
  }

  .small-img {
    max-width: 30vw;
  }
}

/* Anteckning + p-tagg */
.description-content.section--spacer {
  margin-top: 1em;
  padding: 0px var(--spacing-small);
}

@media screen and (max-width: 350px) {
  .show-object-wrapper {
    margin: 0.3em;
  }
}

/* knapparna finns i app.css */
