/* Container */
.show-object-wrapper {
  display: grid;
  grid-template-rows: 122px 240px 1fr;
  gap: var(--spacing-small);
  height: calc(100% - 60px);
}

/* Titel, författare och pris */
.object-title-p {
  text-align: left;
  padding: 0px var(--spacing-small);
}

.standard__text.title {
  margin: var(--spacing-medium) 0em;
  font-family: "Lato light", sans-serif;
  font-size: var(--font-size-title);
  font-weight: 70;
}

/* Bilderna */
.object-all-images {
  width: 100vw;
  display: grid;
  grid-template-areas: 
  "big__image small__image"
  "big__image small__image2";
  grid-template-columns: 70vw 30vw;
  grid-template-rows: repeat(2, 50%);
  gap: 3px;
  row-gap: 1.5px;
  height: 240px;
}

.big__image-container {
  grid-area: big__image;
  width: 70vw;
  height: 240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: var(--border-radius-corner);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.arrow {
  width: 24px;
  margin: 0px var(--spacing-smaller);
}

.small-img {
  width: calc(30vw - var(--spacing-smallest));
  border-radius: var(--border-radius-corner);
  height: 118.5px;
  grid-area: small__image;
  object-fit: cover;
}

.small-img:last-child {
  grid-area: small__image2;
}

@media screen and (min-width: 320px) and (max-width: 350px) {
  .object-all-images {
    grid-template-columns: 70vw 30vw;
    padding: 0px;
  }

  .big__image-container {
    width: 70vw;
  }

  .small-img {
    max-width: 30vw;
  }
}

/* Anteckning + p-tagg */
.description-content.section--spacer {
  margin-top: 1em;
  padding: 0px var(--spacing-small);
}
