/* Container */
.show-object-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0em 1.5em;
  height: calc(100% - 60px);
}

/* Titel, författare och pris */
.object-title-p {
  text-align: left;
  padding: 0px var(--spacing-small);
}
.standard__text.title{
    margin: 1em 0em;
    font-family: "Lato light", sans-serif;
    font-size: var(--font-size-title);
    font-weight: 70;
}

/* Bilderna */
.object-all-images {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  gap:0.5em;

}
.big-img {
  width: 100%;
  max-width: 270px;
}

.small-images{
    display: flex;
    flex-direction: column;
  gap:0.5em;
    
}
.small-img{
    width: 100px; 
    height: auto; 
}
/* Manövrerings pilar */
.material-symbols-outlined.back-arrow{
    position:absolute;
    top:15em;
    left:1.3em;
    cursor:pointer; 
}
.material-symbols-outlined.forward-arrow{
    position:absolute;
    top:15em;
    right: 5.5em;
    cursor:pointer; 
}

/* Anteckning + p-tagg */
.description-content.section--spacer {
  margin-top: 1em;
  padding: 0px var(--spacing-small);

}


@media screen and (max-width: 350px) {
    .show-object-wrapper {
  margin: 0.3em;
}
.material-symbols-outlined.back-arrow{
    left:0.5em;
}
.material-symbols-outlined.forward-arrow{
    right: 5em;
}
    
}

/* knapparna finns i app.css */

