.hero__image {
  width: 100%;
}

.p-container {
  display: flex;
  justify-content: center;
}

.quantity-categories__text {
  font-family: "Lato light", sans-serif;
  font-weight: 100;
  text-align: center;
  padding: 21px 0px;
}

.lato {
  color: var(--color-white);
  font-family: "Lato regular", sans-serif;
  margin: 1em;
  font-weight: 100;
}

/* Sökfält */
.serarchfield-container {
  display: flex;
  justify-content: center;
}

.searchfield {
  background-color: var(--color-form-control);
  display: flex;
  align-items: center;
  width: 85%;
  height: 2em;
  border-radius: 5px;
}

.search-p {
  color: var(--color-white);
  font-family: "Lato regular", sans-serif;
  font-weight: 100;
}

.search {
  margin-right: 1em;
  padding: 0.3em;
}

/* Category */

.category-wrapper {
  display: flex;
 justify-content: center;
  flex-wrap: wrap;
  margin: 2em 0em 1em;
  
}
 .c-container{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0.2em;
}

.first {
  display: flex;
  flex-direction: column;
}

.category-bg {
  position: relative;
  background-color: var(--color-box);
  width: 7em;
  height: 6.4em;
  border-radius: 7px;
}

.category-bg:last-child {
  margin-left: auto; 
}

.category-img {
  position: absolute;
  top: 10px;
  left: 8px;
  width: 6em;
}

.category-content {
  display: flex;
  padding: 0.2em;
  margin-bottom: 1em;


}
.object-p{
  color: rgb(203, 199, 199);
  font-family: "JetBrains mono", monospace;
  font-weight: 100;
  font-size: 12px;
}

.title.category {
  font-size: 15px;
  font-family: "Lato light", sans-serif;
}

.category-more {
  display: flex;
  justify-content: space-between;
  width: 6.6em;

}
.material-symbols-outlined.pen{
  align-self: flex-start;
  font-size: medium;

}
.object-price {
  color: rgb(203, 199, 199);
  font-family: "JetBrains mono", monospace;
  font-weight: 100;
  font-size: 12px;
}

/* Lägg till kategori knapp */
.add-category-container {
  position: fixed; 
  bottom: 1em; 
  right: 1em; 
  z-index: 999;
}

.add-categorybtn {
  background-color: var(--color-form-control);
  padding: 0.3em 0.4em;
  border-radius: 10px;
  margin: 0em 2em 1em;
  border-color: transparent;
}

@media screen and (max-width: 360px) {
  .category-bg {
    width: 6em;
    height: 5.4em;
  }

  .category-img {
    width: 5em;
  }
  .search-p {
    font-size: 13px;
  }
  .search {
    margin-right: 0.2em;
    padding: 0.3em;
  }
  .searchfield {
    width: 19em;
  }

  .title.category {
    font-size: 13px;
    font-family: "Lato light", sans-serif;
  }
 
  .category-more{
    width:5.5em;
  }
}