/* Start */
.start__section {
  height: auto;
  width: 100%;
}

.start__container {
  display: grid;
  gap: 21px;
  padding: 0px 21px;
  padding-top: 21px;
}

/* Search field */
.search-input-with-icon__box {
  display: flex;
  flex-flow: row wrap;
  gap: 6px;
  background-color: var(--color-form-control);
  border-radius: var(--border-radius-corner);
  padding: 6px;
  width: calc(100dvw - 42px);
}

.search-input-with-icon__box .search__label {
  font-family: "Lato regular", sans-serif;
  font-weight: 100;
  font-size: var(--font-size-standard);
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: grid;
  place-content: center;
}

.search-input-with-icon__box .search__input-text {
  padding: 12px 24px;
  font-size: var(--font-size-input-text);
  font-family: "Lato regular", sans-serif;
  font-weight: 100;
  border: none;
  background-color: var(--color-form-control);
  color: var(--color-white);
  outline: none;
  padding: 0px;
  width: calc(100% - 36px);
}

.search-input-with-icon__box .search__input-text::placeholder {
  color: var(--color-input-placeholder-text);
}

/* Category */
.categories__section {
  display: grid;
  grid-template-columns: repeat(3, 112px);
  row-gap: var(--spacing-small);
  column-gap: var(--spacing-smaller);
  justify-items: flex-start;
}

@media screen and (min-width: 320px) and (max-width: 419px) {
  .categories__section {
    grid-template-columns: repeat(2, 112px);
    justify-content: space-between;
  }
}

.hero__image {
  width: 100%;
}

.p-container {
  display: flex;
  justify-content: center;
}

.quantity-categories__text {
  font-family: "Lato light", sans-serif;
  font-weight: 100;
  text-align: center;
  padding: 21px 0px;
}

.category-content{
  display: flex;
  flex-direction: column;
}

/* Category */

.category-wrapper {
  display: flex;
 justify-content: center;
  flex-wrap: wrap;
  margin: 2em 0em 1em;
  
}
 .c-container{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0.2em;
  margin: 0!important;
  padding: 0!important;
}

.first {
  display: flex;
  flex-direction: column;
}

.category-bg {
  position: relative;
  background-color: var(--color-box);
  width: 7em;
  height: 6.4em;
  border-radius: 7px;
}

.category-bg:last-child {
  margin-left: auto; 
}

.category-img {
  position: absolute;
  top: 10px;
  left: 8px;
  width: 6em;
}

.category-content {
  display: flex;
  padding: 0.2em;
  margin-bottom: 1em;


}
.object-p{
  color: rgb(203, 199, 199);
  font-family: "JetBrains mono", monospace;
  font-weight: 100;
  font-size: 12px;
}

.title.category {
  font-size: 15px;
  font-family: "Lato light", sans-serif;
}

.category-more {
  display: flex;
  justify-content: space-between;
  width: 6.6em;

}
.material-symbols-outlined.pen{
  align-self: flex-start;
  font-size: medium;

}
.object-price {
  color: rgb(203, 199, 199);
  font-family: "JetBrains mono", monospace;
  font-weight: 100;
  font-size: 12px;
}

/* Lägg till kategori knapp */
.add-category-container {
  position: fixed; 
  bottom: 1em; 
  right: 1em; 
  z-index: 999;
}

.add-categorybtn {
  background-color: var(--color-form-control);
  padding: 0.3em 0.4em;
  border-radius: 10px;
  margin: 0em 2em 1em;
  border-color: transparent;
}
