/* Start */
.start__section {
  height: auto;
  width: 100%;
}

.start__container {
  display: grid;
  gap: 21px;
  padding: 0px 21px;
  padding-top: 21px;
}

.hero__image {
  width: 100%;
}

/* Search field */
.search-input-with-icon__box {
  display: flex;
  flex-flow: row wrap;
  gap: 6px;
  background-color: var(--color-form-control);
  border-radius: var(--border-radius-corner);
  padding: 6px;
  width: calc(100dvw - 42px);
}

.search-input-with-icon__box .search__label {
  font-family: "Lato regular", sans-serif;
  font-weight: 100;
  font-size: var(--font-size-standard);
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: grid;
  place-content: center;
}

.search-input-with-icon__box .search__input-text {
  padding: 12px 24px;
  font-size: var(--font-size-input-text);
  font-family: "Lato regular", sans-serif;
  font-weight: 100;
  border: none;
  background-color: var(--color-form-control);
  color: var(--color-white);
  outline: none;
  padding: 0px;
  width: calc(100% - 36px);
}

.search-input-with-icon__box .search__input-text::placeholder {
  color: var(--color-input-placeholder-text);
}

.quantity-categories__text {
  font-family: "Lato light", sans-serif;
  font-weight: 100;
  text-align: center;
}

/* Category */
.categories__section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 8px;
  column-gap: 6px;
  justify-content: space-between;
  justify-items: flex-start;
}

.category__container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.category__box {
  display: grid;
  align-items: flex-end;
  background-color: var(--color-box);
  border-radius: var(--border-radius-corner);
  padding: 8px;
  padding-bottom: 0px;
}

.category__image {
  width: 105px;
  height: 100px;
}

.category__info-kebab-icon {
  display: flex;
  flex-flow: row wrap;
  padding: 7px 8px; 
  gap: 6px;
}

.category__info-kebab-icon .kebab__icon {
  width: 20px;
}

.category__kebab-icon {
  display: grid;
  place-content: center;
  width: 20px;
}

.category__info {
  display: flex;
  flex-flow: column wrap;
  gap: 3px;
  width: 70px;
}

.category-info__title {
  font-size: var(--font-size-category-title);
  font-family: "Lato light", sans-serif;
  font-weight: bold;
}

.category-info__details {
  color: var(--color-details);
  font-family: "JetBrains mono", monospace;
  font-weight: 100;
  font-size: var(--font-size-category-details);
}

/* Plus button */

.fixed__button {
  position: fixed;
  bottom: 21px;
  right: 21px;
  display: grid;
  place-content: center;
  width: 55px;
  height: 55px;
  border-radius: var(--border-radius-rounded-button);
  background-color: var(--color-form-control);

  border: none;
  cursor: pointer;
}

.fixed__button > .round__button-icon {
  font-size: var(--font-size-rounded-button-icon);
}

.fixed__button:hover {
  background-color: var(--color-form-control-hover);
}

/*

FIXAR DETTA IMORGON

@media screen and (max-width: 360px) {
  .category-bg {
    width: 6em;
    height: 5.4em;
  }

  .category-img {
    width: 5em;
  }
  .search-p {
    font-size: 13px;
  }
  .search {
    margin-right: 0.2em;
    padding: 0.3em;
  }
  .searchfield {
    width: 19em;
  }
  .category-wrapper {
    margin: 2em 2em;
    grid-template-columns: 1fr 1fr;

  }
  .title.category {
    font-size: 13px;
    font-family: "Lato light", sans-serif;
  }
  .category-more {
    width:5.5em;
  }
}
*/

