.user__section {
  height: calc(100dvh - 96px);
  width: 100%;
  padding: 0px 36px;
}

/* User Image */
.image-container {
  display: flex;
  justify-content: center;
}

.user-profile-picture__image {
  height: 170px;
  width: 170px;
  border-radius: var(--border-radius-corner);
}

/* Overlay - Delete account  */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-background);

  z-index: 999;
  color: white;
  font-family: "Lato regular", sans-serif;
}

.overlay-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.deleteuser-info {
  padding: 2em;
  font-family: "Lato regular", sans-serif;
}
.deleteinfo-p {
  font-family: "Lato regular", sans-serif;
  font-weight: 300;
}
.deleteinfo-ul {
  line-height: 1.5em;
}

.space {
  display: flex;
  justify-content: space-around;
  width: 90%;
}
