/* User */
.user__section {
  height: calc(100dvh - 96px);
  width: 100%;
  padding: 0px 36px;
}

/* Profile picture */
.profile-picture__spacer {
  display: grid;
  align-items: center;
  justify-content: center;
}

.user-profile-picture__image {
  height: 170px;
  width: 170px;
  border-radius: var(--border-radius-corner);
  border: 1px solid var(--color-white);
}

/* Secondary button */

.secondary__button {
  color: var(--color-white);
  background-color: transparent;
  padding: 12px 24px;
  font-size: var(--font-size-standard);
  font-family: "Lato light", sans-serif;
  font-weight: 90;
  cursor: pointer;
  border-radius: var(--border-radius-corner);
  border: 1px solid var(--color-white); 
}

.secondary__button:hover {
  background-color: var(--color-form-control-hover);
}

/* Dialog & overlay  */
.clickable__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  padding: 0px 36px;
}

.dialog__container {
  background-color: var(--color-dialog);
  width: 100%;
  color: var(--color-white);
  height: auto;
  padding: 21px;
  padding-top: 0px;
  display: grid;
  border-radius: var(--border-radius-corner);
}

.dialog-info__text {
  font-family: "Lato light", sans-serif;
  font-size: var(--font-size-standard);
}

.dialog-info__title {
  font-family: "Lato regular", sans-serif;
  font-size: var(--font-size-standard);
  font-weight: 100;
}

.dialog-center__box {
  padding: 17px 0px;
  display: grid;
  justify-content: center;
  gap: 17px;
}

.dialog__list > .dialog__list-element {
  font-family: "Lato regular", sans-serif;
  font-size: var(--font-size-standard);
}

.bold__span {
  font-weight: bold;
}

.deleteuser-info {
  padding: 2em;
  font-family: "Lato regular", sans-serif;
}
.deleteinfo-p {
  font-family: "Lato regular", sans-serif;
  font-weight: 300;
}
