/* Document */
html, body, #root {
  background-color: var(--color-background);
  color: var(--color-white);
  font-size: var(--font-size-standard);
  letter-spacing: 0.05em;
  font-family: "Lato regular", sans-serif;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

#root:has(.section--spacer) > .section--spacer:has(.fixed__button) {
  margin-bottom: var(--spacing-margin-fixed-button);
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

/* Root */
:root {

  /* 
  * Examples:
    font-size: var(--font-size-standard);
    margin: var(--spacing-smallest) var(--spacing-standard);
    padding: var(--spacing-smallest) var(--spacing-standard);
    border-radius: var(--border-radius-corner);
    box-shadow: var(--shadow-elevation-medium-dark);
  */

  /* Main colors */
  --color-header: #313131;
  --color-background: #272727;
  --color-box: #313131;
  --color-box-hover: #373737;
  --color-white: #FFF;
  --color-details: #CBC7C7;

  /* Form colors */
  --color-form-control: #313131;
  --color-input-placeholder-text: #A4A4A4;
  --color-form-control-hover: #373737;
  --color-form-control-transparent-hover: rgba(55, 55, 55, 0.5);
  --color-form-button-in-input: #373737;
  --color-form-button-in-input-hover: #4A4A4A;
  --color-form-control-disabled: #212121;

  /* Dialog colors */
  --color-overlay-background: rgba(0, 0, 0, 0.5);
  --color-dialog-background: #313131;
  --color-dialog-primary-button: #373737;
  --color-dialog-primary-button-hover: #4A4A4A;

  /* Font sizes */
  --font-size-title: 26px;
  --font-size-subtitle: 20px;
  --font-size-text-title: 17px;
  --font-size-standard: 16px;
  --font-size-logotype: 20px;
  --font-size-label: 15px;
  --font-size-input-text: 16px;
  --font-size-hero-image-text: 32px;
  --font-size-object-text: 14px;
  --font-size-guideline: 14px;
  --font-size-category-title: 15px;
  --font-size-category-details: 14px;
  --font-size-rounded-button-icon: 26px;

  /* Margins, spacing & paddings */
  --spacing-smallest: 3px;
  --spacing-smaller: 6px;
  --spacing-small: 8px;
  --spacing-medium: 17px;
  --spacing-standard: 21px;
  --spacing-fixed-button: 21px;
  --spacing--titles: 36px;
  --spacing--overlay: 36px;
  --spacing--form: 36px;
  --spacing-margin-fixed-button: 97px;

  /* Border radius */
  --border-radius-corner: 5px;
  --border-radius-rounded-button: 15px;

  /* Shadow */
  --shadow-color-dark: 0deg 0% 5%;
  --shadow-elevation-medium-dark:
    0.3px 0.5px 0.6px hsl(var(--shadow-color-dark) / 0.46),
    0.8px 1.6px 1.9px -0.9px hsl(var(--shadow-color-dark) / 0.44),
    2.2px 4.3px 5.3px -1.8px hsl(var(--shadow-color-dark) / 0.42),
    5.4px 10.8px 13.1px -2.7px hsl(var(--shadow-color-dark) / 0.4);
    --shadow-color-lighter: 0deg 0% 7%;
    --shadow-elevation-medium-lighter:
      0.3px 0.5px 0.6px hsl(var(--shadow-color-lighter) / 0.46),
      0.8px 1.6px 1.9px -0.9px hsl(var(--shadow-color-lighter) / 0.44),
      2.2px 4.3px 5.3px -1.8px hsl(var(--shadow-color-lighter) / 0.42),
      5.4px 10.8px 13.1px -2.7px hsl(var(--shadow-color-lighter) / 0.4);
}

/* Fonts */
@font-face {
  font-family: "ABeeZee regular";
  src: url("./fonts/ABeeZee-Regular.ttf");
}

@font-face {
  font-family: "Pacifico";
  src: url("./fonts/Pacifico-Regular.ttf");
}

@font-face {
  font-family: "Lato regular";
  src: url("./fonts/Lato-Regular.ttf");
}

@font-face {
  font-family: "Lato light";
  src: url("./fonts/Lato-Light.ttf");
}

@font-face {
  font-family: "JetBrains mono";
  src: url("./fonts/JetBrainsMono-VariableFont_wght.ttf");
}

.material-symbols-outlined {
  color: var(--color-white);
}





