* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

/* Root colors */

:root {

  /* Color */
  --header-color: #313131;
  --background-color: #272727;
  --color-white: #fff;

  /* Fonts */
  --header-font: "Pacifico", cursive;
  --font-main: "Lato", sans-serif;
}

/* .pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
} */

.material-symbols-outlined{
  color: var(--color-white);
}

html, body {
  background-color: var(--background-color)
}