/* Document */
html, body {
  background-color: var(--background-color);
  color: var(--color-white);
  font-size: var(--font-size-standard);
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

/* Root */

:root {
  /* Colors */
  --header-color: #313131;
  --background-color: #272727;
  --color-white: #fff;
  
  /* Font sizes */
  --font-size-standard: 16px;
  --font-size-logotype: 24px;
  --font-size-title: 26px;
  --font-size-label: 13px;
  --font-size-input-text: 16px;
  --font-size-object-text: 12px;
  --font-size-hero-image-text: 32px;
  --font-size-object-text: 13px;
}
/* font-size: var(--font-size-standard) */

/* Fonts */
@font-face {
  font-family: "AbeeZee regular";
  src: url("./fonts/AbeeZee-Regular.ttf");
}

@font-face {
  font-family: "Pacifico";
  src: url("./fonts/Pacifico-Regular.ttf");
}

@font-face {
  font-family: "Lato regular";
  src: url("./fonts/Lato-Regular.ttf");
}

@font-face {
  font-family: "Lato light";
  src: url("./fonts/Lato-Light.ttf");
}

@font-face {
  font-family: "Lato thin";
  src: url("./fonts/Lato-Thin.ttf");
}

@font-face {
  font-family: "JetBrains mono";
  src: url("./fonts/JetBrainsMono-VariableFont_wght.ttf");
}

.material-symbols-outlined {
  color: var(--color-white);
}


